body {
  font-family: 'Lato';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat';
}


/*section {
  padding: 40px 0;
}

section h2 {
  font-size: 16px;
}

#mainNav {
  background-color: #2c3e50 ;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#mainNav > .container > a {
  color: white;
  padding-left: 30px;
}

#navbarResponsive {
  float: right;
  padding-right: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  color: white;
  display: block;
  padding: 5px;
  text-align: center;
  text-decoration: none;
}

li a:hover {
  background-color: greenyellow;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}


@media screen {
    body {
        background-color: red;
    }
}

@media print {
    body {
        background-color: white;
    }
}


@media (min-width: 992px) { 
  #navbarResponsive {
    display: none;
  }
}*/

